.ArtistDetails {
    margin-left: 60px;
    text-align: left;
    border: 1px solid blue;
}

.ArtistIndividual {
    text-transform: uppercase;
    border: 1px solid red;
}

.ArtistIndividualBio {
    width: 85%;
}

.ArtistIndividualMain h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: normal;
}

.ArtistLogo {
    background: var(--grey);
    width: 300px;
    height: 300px;
}

.ArtistIndividualMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 125px;
    border: 1px solid green;
}

.ArtistIndividualGenre {
    padding: 0;
    color: var(--grey);
    margin: 0;
}