
@media only screen and (max-width: 700px) {
    .ArtistListMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }

    .ArtistListMain img {
        width: 250px;
        align-self: center;
        border: 1px solid grey;
        margin: 0;
        padding: 0;
    }

    .ArtistListEach {
        padding: 0;
    }
}

@media only screen and (min-width: 701px) {
    .ArtistListMain {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
