.NewsListItem {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    width: 85%;
    padding-bottom: 25px;
    border-bottom: 1px solid #707070;
}

.NewsListDate {
    color: gray;
    font-size: 15px;
}

.NewsListContent {
    padding-top: 10px;
    line-height: 1.5;
}