.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    background: var(--black);
    width: 100%;
    border-bottom: 1px solid var(--grey);
}

.HeaderLogo {
    padding-left: 75px;
}