@font-face {
  font-family: "mainFont";
  src: url('./data/trado.ttf');
  }

body {
  font-family: 'mainFont', Arial, Helvetica, sans-serif;
  margin: 25px 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0F0F0F;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
