.HeaderNav {
    padding-right: 40px;
}

.HeaderNav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

ul li {
    list-style: none;
    align-self: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0 25px;
}

a li {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}

li:hover {
    border-bottom: 2px solid white;
    padding: 0;
}